/* General */

body {
    font: 16px/25px 'Droid Sans',arial,serif;

    color: #333;
    background: #fff;
}

p {
    clear: both;

    margin: 0 0 6px;
    padding: 0;
}

a,
a:visited {
    text-decoration: none;

    color: #a32500;
}

a:hover {
    text-decoration: underline;
}


/* Layout */

#contain {
    width: 90%;
    max-width: 400px;
    margin: 10px auto;
}

header {
    float: left;

    width: 100%;
    margin: 0 0 20px;
    padding: 0;
}

#main {
    float: left;

    width: 100%;

    color: #333;
    background: #fff;
}

footer {
    font-size: 11px;

    float: left;

    width: 100%;
    margin: 0;
    padding: 0;

    color: #333;
}


/* Headings */

h1 {
    font-size: 35px;
    line-height: 50px;

    margin: 0;

    color: #a32500;
}


/* Content */

.avatar {
    display: block;

    max-width: 100%;
    margin: 0 0 15px;
    padding: 0;
}

.description {
    clear: none;

    margin: 0;
}

ul.links {
    float: left;
    clear: both;

    margin: 25px 0 0;
}

ul.links li {
    float: left;

    margin: 0 15px 25px 0;

    list-style: none outside none;
}

ul.links a {
    line-height: 25px;

    padding: 10px 20px;

    text-decoration: none;

    color: #fff;
    border-radius: 4px;
    background: #a32500;
}

ul.links a:active,
ul.links a:focus,
ul.links a:hover {
    background-color: #c52d00;
}


/* Footer */

footer a,
footer a:visited,
footer a:hover {
    color: #333;
    border-bottom: 1px dotted #333;
}

footer a:hover {
    text-decoration: none;
}

footer p {
    clear: none;

    margin: 0;
    padding: 0;
}

